* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: darkolivegreen;
  font-size: 1.5rem;
}

main {
  display: grid;
  place-content: center;
  height: 100vh;
}


section {
  color: white;
}

article {
  border: 2px solid white;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
}